{% extends 'base.html.twig' %}

{% block title %}Modification bailleur{% endblock %}

{% block body %}
    <h1>Modification bailleur</h1>

    {{ include('bailleur/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('bailleur_index') }}">Retourner à la liste...</a>

    {{ include('bailleur/_delete_form.html.twig') }}
{% endblock %}
