 {% extends 'base.html.twig'%} 
{% block body %}
 <div id="wrapper">
        <!-- /. NAV SIDE  -->
            <div id="page-wrapper" >
                <div id="page-inner">
    <h1> resultat element-don</h1>
    <p>val  = {{val}} % </p>
    </div>
    </div>
    </div>
{% endblock %}