<form method="post" action="{{ path('type_financement_delete', {'id': type_financement.id}) }}" onsubmit="return confirm('Vous voulez supprimer ce type de financement');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_financement.id) }}">
    <button class="btn">Delete</button>
</form>
