{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {# <div id="wrapper">
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper"> #}
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <center><h2>Instructions sur le calcul de l'élément don d'un prêt</h2></center>
                        <center><h5>Dernière mise à jour: octobre 2014</h5></center>
                    </div>
                </div>
                <!-- /. ROW  -->
                <h4> Ce fichier aide à: (i) calculer l'élément de subvention; et (ii) l'enregistrement des taux d'intérêt commerciaux de référence (CIRRs) spécifiques à la devise.</h4>
                <hr />
                 <!-- /. ROW  -->
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="panel panel-primary text-center no-boder bg-color-green">
                                <div class="panel-footer back-footer-green">
                                    <i class=""></i> 
                                        Le 11 octobre 2013, les Conseils d'administration du Fonds et de la Banque ont adopté une nouvelle méthodologie fixant un taux d'actualisation unique et unifié (5%) pour calculer l'élément don des prêts individuels. Le calculateur de concessionnalité a été modifié pour inclure le nouveau taux d'actualisation unifié dans la liste des tarifs disponibles. L'utilisation de la nouvelle méthodologie sera progressive:
                                            <ul>
                                                <li>
                                                    Pour les pays sans programme soutenu par le FMI, la méthodologie du taux d'actualisation unifié s'applique déjà aux évaluations de concessionnalité;
                                                </li>
                                                <li>
                                                    Pour les pays disposant d'un programme soutenu par le FMI, la méthodologie unifiée ne s'appliquera qu'une fois que la modification de la conditionnalité correspondante (telle qu'énoncée dans le Mémorandum d'accord technique) aura été approuvée par le Conseil d'administration du FMI. Ces modifications sont généralement apportées dans le cadre des revues de programmes. En attendant ces modifications, l'ancienne méthodologie basée sur des taux d'actualisation spécifiques à la devise et dépendants de l'échéance s'appliquera aux évaluations de concessionnalité.  
                                                </li>
                                            </ul>
                                </div>
                            </div>
                        </div>  
                    </div>
                <!-- /. ROW  -->
                <div class="row">
                    
                        <div class="col-md-12 col-sm-6 col-xs-6">
                            <div class="panel panel-back noti-box">
                                <span class="icon-box bg-color-green set-icon">
                                    <i class="fa fa-bars"></i>
                                </span>
                                <div class="text-box">
                                    <p class="main-text">Élément don: </p>
                                    <br class="text-muted">
                                        L'élément don mesure la concessionnalité d'un prêt. Il est défini comme la différence entre sa valeur nominale (valeur nominale) et la somme des paiements futurs actualisés du service de la dette (valeur actuelle nette) à effectuer par l'emprunteur, exprimée en pourcentage de la valeur nominale du prêt: le taux d'intérêt facturé pour un prêt est inférieur au taux d'actualisation approprié, la valeur actuelle de la dette qui en résulte est inférieure à sa valeur nominale, la différence reflétant l'élément don du prêt. Les commissions initiales et / ou les frais de gestion pendant toute la durée du prêt constituent un coût de souscription / gestion du prêt et donc un coût d'intérêt implicite, qui devrait être inclus dans le calcul du niveau de concessionnalité. Ce modèle prend en compte ces commissions et frais ainsi que les profils de remboursement standard alternatifs (paiements de principal égaux, paiements de principal basés sur la rente, paiement forfaitaire du principal et des intérêts à l'échéance, et un calendrier personnalisable). Il peut également calculer l'élément don pour les packages qui combinent un don avec un prêt (non) concessionnel. Pour toute combinaison donnée de taux d’intérêt, de commission et de frais, l’élément de subvention minimum de 35% peut être simulé en utilisant la fonction «recherche d’objectif», c’est-à-dire quel serait le taux d’intérêt, la commission ou les frais maximum qui entraîneraient un prêt hypothétique égal ou supérieur à l'élément de subvention requis de 35%. paiement forfaitaire du principal et des intérêts à l'échéance et calendrier personnalisable). Il peut également calculer l'élément don pour les packages qui combinent un don avec un prêt (non) concessionnel. Pour toute combinaison donnée de taux d’intérêt, de commission et de frais, l’élément de subvention minimum de 35% peut être simulé en utilisant la fonction «recherche d’objectif», c’est-à-dire quel serait le taux d’intérêt, la commission ou les frais maximum qui entraîneraient un prêt hypothétique égal ou supérieur à l'élément de subvention requis de 35%. paiement forfaitaire du principal et des intérêts à l'échéance et calendrier personnalisable). Il peut également calculer l'élément don pour les packages qui combinent un don avec un prêt (non) concessionnel. Pour toute combinaison donnée de taux d'intérêt, de commissions et de frais, l'élément de subvention minimum de 35% peut être simulé en utilisant la fonction «recherche d'objectifs», c'est-à-dire quel serait le taux d'intérêt, la commission ou les frais maximum prêt hypothétique égal ou supérieur à l'élément de subvention requis de 35%.</br></br>
                                          <center> <img src="../assets/img/calcul.jpg" > </center>
                                    </p>
                                    <p>
                                        Le cahier contient une feuille d'entrées-sorties et six feuilles de travail alternatives qui calculent l'élément don aux fins du plafond de la dette sur la base (i) d'un calendrier de remboursement égal du principal (GE-Calculation Equal-PP); (ii) un barème de rente (GE-Calculation Annuity); (iii) un paiement forfaitaire du capital à l'échéance (GE-Calculation Lump-Sum); (iv) un paiement forfaitaire de capital et d'intérêts simples à l'échéance (GE-Calculation Lump-Sum P/I), (v) un paiement forfaitaire de capital et d'intérêts composés à l'échéance (GE-Calculation Lump-Sum P/CompoundedI) et (vi) un profil de service de la dette saisi manuellement (GE-Calculation Custom) pour les prêts qui ne correspondent à aucune des conditions standard, par exemple le remboursement progressif du principal (la plupart des prêts utilisent le calendrier de remboursement égal). Les six feuilles de calcul permettent de prendre en compte les commissions initiales payées pour la conclusion du prêt et les frais de gestion récurrents du prêt. Dans les cas où les frais de gestion ne sont pas payés selon un calendrier fixe, ils doivent être saisis manuellement.
                                    </p>
                                    <p>
                                       Deux feuilles de travail supplémentaires peuvent être utilisées pour évaluer les prêts en vertu de la loi islamique et d'autres instruments IsDB.
                                    </p>
                                </div>
                            </div>
                        </div>
                </div>
                    <!-- /. ROW  -->
                    <hr />
                    <div class="row">
        

                        <div class="col-md-12 col-sm-12 col-xs-6">
                            <div class="panel back-dash">
                                <i class="fa fa-plus-circle fa-3x"></i><strong> &nbsp; Contribution nécessaire pour le calcul de l'élément de subvention (saisie dans la feuille d'entrées-sorties):</strong>
                                <p class="text-muted">
                                    <ul>
                                        <li>
                                            Monnaie (monnaie de remboursement) du prêt, valeur nominale du prêt, commission initiale en pourcentage, frais de gestion récurrents, taux d'intérêt appliqué sur le prêt, échéance en années, nombre de paiements par an, délai de grâce en années, et le profil de remboursement du principal. Le taux d'actualisation 'CIRR' spécifique à la devise est automatiquement obtenu en sélectionnant la devise dans la cellule E13 de la feuille Entrées-Sorties. Si un prêt est contracté dans une devise non membre de l'OECD  (c'est-à-dire qu'aucun CIRR n'est disponible), le taux du SDR doit être utilisé. Veuillez noter qu'en choisissant «autre» comme devise, la calculatrice sélectionne automatiquement le taux du SDR.
                                        </li>
                                        <li>
                                            Le délai de grâce est défini comme la période pendant laquelle seuls les intérêts et aucun remboursement du principal sont payables par l'emprunteur au créancier.
                                        </li>
                                        <li>
                                            En fonction de la devise du prêt et de l'échéance, le taux d'intérêt du CIRR spécifique à la devise est automatiquement extrait des moyennes sur six mois ou sur dix ans de la feuille intitulée
                                            CIRRs sur 6 mois sur 10 ans.
                                            et des marges reflétant l'échéance du prêt sont automatiquement ajoutées pour calculer le taux d'actualisation. Les feuilles de calcul renverront l'élément de subvention en pourcentage. Les moyennes sur six mois sont utilisées pour les prêts dont l'échéance est inférieure à 15 ans (colonne C). Pour tous les autres prêts, les moyennes sur dix ans sont utilisées (colonne E). Les marges suivantes sont ajoutées aux CIRR : échéance «inférieure» 15 ans, 0,75%; maturité ≥ 15 ans et «inférieure» 20 ans, 1,00 pour cent; maturité "supérieure ou égale" 20 ans et "inférieure" ul 30 ans, 1,15 pour cent; et maturité «supérieure ou égale» 30 ans, 1,25 pour cent. Le taux d'actualisation utilisé dans le calcul de l'élément de subvention est le CIRR  plus la marge correspondante.
                                        </li>
                                        <li>
                                            Toutes les feuilles calculent l'élément de subvention pour les montages financiers qui comportent une subvention et une composante de prêt.
                                        </li>
                                        <li>
                                            Les taux d'intérêt variables peuvent être traités en saisissant manuellement les taux d'intérêt applicables par période de paiement dans la «Colonne F» de la feuille de calcul pertinente basée sur le contrat de prêt.
                                        </li>
                                        <li>
                                          Les frais de gestion non payés selon un calendrier fixe (c'est-à-dire par période de paiement ou en pourcentage du montant du prêt en cours) doivent être saisis manuellement (colonne H de la feuille de travail correspondante).
                                        </li>
                                        <li>
                                           Pour un calendrier de remboursement du principal personnalisé, saisissez les paiements de principal dans la colonne J de la feuille de calcul appropriée.
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                
                    <!-- /. ROW  -->
                    <class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="chat-panel panel panel-default chat-boder chat-panel-head">
                                <div class="panel-heading">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </div>

                                <div class="panel-body">
                                    <ul class="chat-box">
                                        <li class="left clearfix">
                                            <span class="chat-img pull-left">
                                            <img src="assets/img/1.png" alt="User" class="img-circle" />
                                        </span>
                                            <div class="chat-body">
                                                <strong>CIRRs:</strong>
                                                <p>
                                                   Les CIRRs sont mis à jour régulièrement. Ils sont utilisés pour calculer les taux d'actualisation pour le calcul de l'élément subvention.
                                                </p>
                                            </div>
                                        </li>
                                        <li class="left clearfix">
                                            <span class="chat-img pull-left">
                                            <img src="assets/img/3.png" alt="User" class="img-circle" />
                                        </span>
                                            <div class="chat-body clearfix">
                                                <strong>Latest-CIRRs:</strong>                   
                                                <p>
                                                    Graphique et données sur les CIRRs les plus récents sur le site Web de l'OECD (mis à jour mi-mensuel). Ces taux ne sont pas utilisés dans le calcul direct des éléments de subvention, mais servent plutôt à donner une idée générale de l'orientation des taux. Ils sont utilisés pour calculer les moyennes du CIRR spécifiques à une devise.
                                                </p>
                                                <p>
                                                    Au 15 août 2008, le taux moyen du DTS sur six mois était de 4,50 selon la nouvelle méthodologie et de 4,46 selon l'ancienne. Le taux moyen sur dix ans sera calculé sur la base de la nouvelle méthodologie lors de la prochaine mise à jour en décembre 2008.
                                                 </p>
                                            </div>
                                        </li>
                                        <li class="left clearfix">
                                            <span class="chat-img pull-left">
                                            <img src="assets/img/1.png" alt="User" class="img-circle" />
                                        </span>
                                            <div class="chat-body">
                                                <strong>CIRRs sur 6 mois sur 10 ans:: </strong>
                                                <p>
                                                   Affiche les moyennes du CIRR sur six mois et sur dix ans, utilisées dans les calculs de l'élément subvention pour les plafonds d'endettement dans les programmes du Fonds. Les moyennes sur six mois sont mises à jour à la mi-février et à la mi-août, et les moyennes sur dix ans du CIRR sont mises à jour à la mi-décembre. Les premiers couvrent une période de six mois, et les seconds couvrent la période de 10 ans précédant la date de la mise à jour.
                                                </p>
                                            </div>
                                        </li>
                                        <li class="left clearfix">
                                            <span class="chat-img pull-left">
                                            <img src="assets/img/1.png" alt="User" class="img-circle" />
                                        </span>
                                            <div class="chat-body">
                                                <strong>CIRR-SDR actuel: </strong>
                                                <p>
                                                  Montre comment le taux de SDR CIRR est calculé. Pour les taux de SDR passés, saisissez les taux de change historiques.
                                                </p>
                                            </div>
                                        </li>
                                            <li class="left clearfix">
                                            <span class="chat-img pull-left">
                                            <img src="assets/img/1.png" alt="User" class="img-circle" />
                                        </span>
                                            <div class="chat-body">
                                                <strong>CIRR-Series: </strong>
                                                <p>
                                                   Série CIRR du 15 juillet 1988 à aujourd'hui
                                                </p>
                                            </div>
                                        </li>
                                            <li class="left clearfix">
                                            <span class="chat-img pull-left">
                                            <img src="assets/img/1.png" alt="User" class="img-circle" />
                                        </span>
                                            <div class="chat-body">
                                                <strong>DSA-CIRRs: </strong>
                                                <p>                                                
                                                  Les moyennes du CIRR sur six mois, utilisées dans l'exercice DSA (HIPC) (non pour le calcul de l'élément don d'un prêt). Les moyennes sont mises à jour deux fois par an, à la mi-juin et à la mi-décembre, pour refléter la fin de l'année fiscale / civile conformément aux données sur la dette utilisées dans DSA. Les moyennes sont une simple moyenne arithmétique des six mois précédant la mise à jour.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /. ROW  -->
                {# </div>
                <!-- /. PAGE INNER  -->
            </div>
            <!-- /. PAGE WRAPPER  --> #}

           
            
{% endblock %}
