{% extends 'base.html.twig' %}

{% block title %}van!{% endblock %}
 {% block stylesheets %}
 
 {% endblock %}
{% block body %}
{# <div id="wrapper"> #}
    <div id="page-wrapper" >
        <div id="page-inner">
           <h1> Van </h1> {{ v }}
        </div>  
    </div>
{# </div> #}
{% endblock %}
