
{{ form_start(formSecteurIntervention) }}

    {{ form_row(formSecteurIntervention.nom, {'label' : 'Nom du secteur' , 'attr' : {'placeholder':"Nom du secteur"}}) }}

    <button type="Submit" class="btn btn-info" name="" id="" value="">
        Enregister
    </button>

{{ form_end(formSecteurIntervention) }}