{% extends 'base.html.twig' %}

{% block title %}Modification secteur{% endblock %}

{% block body %}

       <!-- BOOTSTRAP STYLES-->
    <link href="../assets/css/bootstrap.css" rel="stylesheet" />
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="../assets/js/bootstrap.min.js"></script>

    <center><h1>Modification secteur</h1></center>

     <div class="col-md-12">

        <div class="col-md-3">
        
        </div>

        <div class="col-md-6">
                {{ form_start(form) }}
                    {{ form_row(form.nom, {'label' : 'Nom du secteur', 'attr' : {'placeholder':"Nom du secteur"}}) }}
                   
                    <div class="form-row align-items-end pull-right"> 
                        <button type="Submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit">_</span>Modifier</button>
                    {{ form_end(form) }}

                        &nbsp; &nbsp; &nbsp;
                        <a href="{{ path('secteur_liste') }}" class="btn btn-warning"><span class="glyphicon glyphicon-share-alt">_</span>Retour à la liste...</a></br>
                  
                    </div>
        </div>

        <div class="col-md-3">
        
        </div>   
    </div>        
{% endblock %}