
{{ form_start(form) }}

    {{ form_row(form.nom, {'label' : 'Nom du type financement' , 'attr' : {'placeholder':"Nom du type financement"}}) }}

    <button type="Submit" class="btn btn-info" name="" id="" value="">
        Enregister
    </button>
{{ form_end(form) }}